#main {
	position:relative;
	margin: 100px auto;
	padding: 5px;
	width: 800px;
	height:400px;
	background-color: rgba(0, 0, 0, 0);
	border: 5px solid rgb(57, 160, 91);
	border-radius:15px;
}

#scr {
	margin:20px auto;
	width: 730px;
	height: 360px;
	margin-top:20px;
	background-color: white;
	background-size:cover;
	border: 2px solid rgb(0, 0, 0);
	border-radius:10px;
}

button {
	position: absolute;
	top: 170px;
	width: 25px;
	height: 70px;
	font: 12pt arial,tahoma,sans-serif;
	text-align: center;
}

.left {
	left:5px;
}

.right {
	right:5px;
}